// Define variables for your color scheme

// Thor Colors:
$yellow-primary: #ffc215;
$black-primary: #212322;
$white-primary: #f4f5f0;
$yellow-secondary: #fbb300;
$dark-gray: #9aa0a8;
$light-gray: #d3d0cb;
$black: #212322;
$white: white;

$green: green;
$yellow: yellow;
$red: red;
$orange: orange;
