<div class="banner-2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>How it works</h1>
        <p id="line">____</p>
      </div>
    </div>
    <div class="how-flex-box">
      <div class="how-flex-item">
        <div class="how">
          <p class="mini-header">Find a charger nearest you</p>
          <p>One tap and you will be directed towards the charger nearest your location. When you get there, you'll have a charger waiting for you.</p>
          <p class="mini-header">Pick up and drop off</p>
          <p>Running late for a meeting? Going out for drinks? No problem. Rest easy knowing you can count on your phone. When you're finished, simply locate the nearest dispenser and drop off the charger at your convenience.</p>
        </div>
      </div>
      <div class ="how-flex-item how-flex-box">
        <div class="phone">
          <img src= <%= image_path('phone.png') %> alt="">
        </div>
      </div>
    </div>
  </div>
</div>
