<div class="banner-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pricing-header">
        <h1>Pricing</h1>
        <p>____</p>
      </div>
      <div class="pricing">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
          <div class="pricing-card-container">
            <div class="pricing-card-row-1">
              <h1>Simple, Transparent Pricing</h1>
            </div>
            <div class="pricing-card-row-2">
              <div class="pricing-card-row-2-a">
                <p><strong class="price">£3</strong></p>
                <p>price if battery is<br> returned within 23hrs</p>
              </div>
              <div class="pricing-card-row-2-b">
                <p><strong class="price">£10</strong></p>
                <p>price if battery is <br> not returned in 23 hrs</p>
              </div>
            </div>
            <div class="pricing-card-row-3">
              <p><i class="fas fa-bolt"></i> Use your card at the dispenser to receive a powerbank</p>
              <p><i class="far fa-clock"></i> Each powerbank rental is good for a 23hr duration</p>
              <p><i class="fas fa-credit-card"></i> Your card is charged after the rental duration expires</p>
              <p></p>
            </div>
<!--             <div class="pricing-card-row-4">
              <p><strong>£7</strong> returned to you if returned within time</p>
            </div>
            <div class="pricing-card-row-5">
              <p>Pay at any Thor Energy powerbank dispenser</p>
              <p></p>
              <p></p>
            </div> -->
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
          <div class="pricing-create-account-container">
            <div class="pricing-create-account-container-row-1">
              <h1>Sign Up</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
