<div class="about">
  <div class="container about-us">
    <h1>About Us</h1>
    <div class="row row-relative">
      <div class="col-xs-12 col-sm-5">
        <h3>VISION</h3>
        <p id ="yellow-line">___________</p>
        <p>As the fuel of all future human activity, electricity will be independently and sustainably produced, widely and comfortably consumed, efficiently and democratically commoditised.</p>
      </div>
      <div class="col-sm-2 hidden-xs">
        <%= image_tag "hammer.png", class: "big-hammer" %>
      </div>
      <div class="col-xs-12 col-sm-5">
        <div class="about-us-mission">
          <h3>MISSION</h3>
          <p id ="yellow-line">___________</p>
          <p>Becoming a new type of energy intermediary by establishing new distribution infrastructure and a parallel marketplace to connect moving customers with independent, sustainable producers. </p>
        </div>
      </div>
      <div class="about-us-img hidden-sm hidden-md hidden-lg">
        <%= image_tag "hammer.png", class: "about-hammer" %>
      </div>
    </div>
  </div>
</div>

<%= render 'pages/team' %>
