<div class="about">
  <div class="container about-us">
    <h1>About Us</h1>
    <div class="row row-relative">
      <div class="col-xs-12 col-sm-5">
        <h3>VISION</h3>
        <p id ="yellow-line">___________</p>
        <p>As the commodity that will fuel all future human activity, electricity should be efficiently produced and widely accessible.
        <br>
        <br>
        Our goal is to lift time, location and supply constraints from energy consumption to enable end-users to easily access electricity wherever they may be.</p>
      </div>
      <div class="col-sm-2 hidden-xs">
        <%= image_tag "hammer.png", class: "big-hammer" %>
      </div>
      <div class="col-xs-12 col-sm-5">
        <div class="about-us-mission">
          <h3>MISSION</h3>
          <p id ="yellow-line">___________</p>
          <p>Build a simple solution for out-of-home recharging of devices based on grab-and-go battery rentals. </p>
        </div>
      </div>
      <div class="about-us-img hidden-sm hidden-md hidden-lg">
        <%= image_tag "hammer.png", class: "about-hammer" %>
      </div>
    </div>
  </div>
</div>

<%= render 'pages/team' %>
