<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Add a charging station</h1>
    </div>
  </div>
  <%= render 'charging_station_form' %>
</div>
