<div class="container">
  <div class="charging-station-show">
    <h3>Battery Station ID: <%= @charging_station.id %></h3>
    <p>Address: <%= @charging_station.address %></p>
    <p>Current Battery Count: <%= @charging_station.battery_count %>/<%= @charging_station.capacity %></p>
  </div>
</div>
