.about {
  background-color: $black;
}

.container.about-us {
  background-color: $black;
  h1 {
    color: $yellow-primary;
    padding-top: 30px;
  }
  h3 {
    color: $white;
    margin-bottom: 0;
  }
  p {
    color: $white;
  }
}
.row-relative {
  position: relative;
}

.about-us-img {
  position: absolute;
  bottom: 20px;
  opacity: 0.3;
  transform: rotate(45deg)
}

.big-hammer {
 transform: rotate(45deg);
 position: relative;
 right: 150px;
 opacity: 0.3;
}

#yellow-line {
  color: $yellow-primary;
}
