/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  position: relative;
  margin: 0;
  text-align: center;
  color: $white;
  padding-top: 70px;
  border: none;
  opacity: 0.8;
}
.alert-info {
  background: $black;
}
.alert-warning {
  background: $red;
}
