.pac-container {
  background-color: $black-primary;
  border-radius: 4px;
  border: none;
}

.pac-item {
  font-family: $body-font;
  color: $light-gray;
  font-size: 14px;
  border: none;
}

.pac-item:hover {
  background-color: rgb(50,50,50);
  cursor: pointer;
}

.pac-item-selected {
  background-color: rgb(50,50,50);
}

.pac-icon-selected {
  color: $yellow-primary!important;
}

.pac-item-query {
  font-family: $body-font;
  color: $white;
  font-size: 14px;
}

.pac-matched {
  font-family: $body-font;
  color: $yellow-primary;
  font-weight: bold;
  font-size: 14px;
}

// ----- TO REMOVE THE POWERED BY GOOGLE LOGO: ----- //
.pac-container:after {
  background-image: none !important;
  height: 0px;
}
