.banner {
  background-size: cover !important;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 56px;
  font-weight: bold;
  position: absolute;
  top: -170px;
}

.banner p {
  color: $yellow-primary;
  font-size: 32px;
  position: absolute;
  top: -52.5px;
}


.form-control-banner {
  min-width: 60%;
  background-color: transparent;
  border: 1px solid $yellow-primary;
  border-color: $yellow-primary;
  padding: 10px 20px;
  border-radius: 30px;
  color: $yellow-primary;
  text-decoration: none;
  outline: none;
}

.form-control-banner::placeholder {
  color: $yellow-primary;
}
