.banner {
  background-size: cover !important;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin-bottom: 7px;
  }
}

.banner h1 {
  font-size: 56px;
  font-weight: bold;
  top: -170px;
  color: $white;
  margin: 0;
}

#yellow-dash {
  color: $yellow-primary;
  font-size: 32px;
  top: -52.5px;
  margin-top: -30px;
}


.form-control-banner {
  min-width: 60%;
  background-color: transparent;
  border: 1px solid $yellow-primary;
  border-color: $yellow-primary;
  padding: 10px 20px;
  border-radius: 30px;
  color: $yellow-primary;
  text-decoration: none;
  outline: none;
}

.form-control-banner::placeholder {
  color: $yellow-primary;
}

.banner {
  .input-holder {
    position: relative;
    i {
      position: absolute;
      top: 2px;
      right: 25px;
      opacity: 0.5;
    }
    i:hover {
      opacity: 1;
      color: $yellow-primary;
    }
  }
  input {
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .phone-locate {
    display: none;
  }
}

@media (max-width: 991px) {
  .phone-locate {
    p {
      font-weight: 600;
    }
  }
  .banner {
    .input-holder {
      position: relative;
      i {
        display: none;
      }
    }
    .phone-locate-box {
      margin-top: -5px;
      .phone-locate {
        display: flex;
        align-items: center;
        opacity: 0.4;
        i {
          font-size: 20px;
          padding: 5px 10px 5px 20px;
        }
        p {
          margin: 0;
          font-size: 14px;
        }
      }
    }
  }
  .banner .phone-locate-box a:hover {
    text-decoration: none;
    opacity: 1;
    color: $yellow-primary;
  }
}
