.banner {
  background-size: cover !important;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 56px;
  font-weight: bold;
  position: absolute;
  top: -170px;
  color: $white;
}

#yellow-dash {
  color: $yellow-primary;
  font-size: 32px;
  position: absolute;
  top: -52.5px;
}


.form-control-banner {
  min-width: 60%;
  background-color: transparent;
  border: 1px solid $yellow-primary;
  border-color: $yellow-primary;
  padding: 10px 20px;
  border-radius: 30px;
  color: $yellow-primary;
  text-decoration: none;
  outline: none;
}

.form-control-banner::placeholder {
  color: $yellow-primary;
}

.banner {
  .input-holder {
    position: relative;
    i {
      position: absolute;
      top: 2px;
      right: 25px;
      opacity: 0.5;
    }
    i:hover {
      opacity: 1;
      color: $yellow-primary;
    }
  }
}

@media (min-width: 768px) {
  .phone-locate {
    display: none;
  }
}

@media (max-width: 767px) {
  .banner {
    .input-holder {
      position: relative;
      i {
        display: none;
      }
    }
    .phone-locate-box {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      i {
        font-size: 40px;
        padding: 10px;
      }
    }
  }
  .banner .phone-locate-box a:hover {
    text-decoration: none;
  }
}
