#myCarousel {
  background-size: cover !important;
  text-align: center;
  color: $white;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  position: relative;
}

.car-position {
  position: absolute;
  top: 500px;
  margin: 0 auto;
  z-index: 10;
}

.car-img {
  height: 90vh;
  background-size: cover;
}

.main-header {
  position: absolute;
  top: 300px;
  margin: 0 auto;
  z-index: 10;
  font-size: 48px;
}

.sub-header {
  position: relative;
  top: 400px;
  right: center auto;
  z-index: 10;
  opacity: .8;
  font-size: 20px;
}


@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }





